[MESSAGES CONTROL]
disable=
    wrong-import-order,
    dangerous-default-value,
    no-else-break,
    too-many-lines,
    too-many-locals,
    unused-argument,
    unnecessary-lambda,
    too-many-ancestors,
    arguments-differ,
    consider-using-generator,
    missing-function-docstring,
    missing-class-docstring,
    missing-module-docstring,
    logging-fstring-interpolation,
    line-too-long,
    no-member,
    broad-except,
    f-string-without-interpolation,
    fixme,
    too-many-arguments,
    too-many-instance-attributes,
    too-many-public-methods,
    too-few-public-methods,
    simplifiable-if-statement,
    invalid-name,
    no-else-return,
    cyclic-import,
    too-many-branches,
    duplicate-code